body{
    background-color:$colorPrimary ;
}

.navbar{
    background-color: $colorPrimary;
    .logoEncabezado{
            width:auto;
            height: 70px;  
            padding: 3px;
        }
    .logoEncabezado2{
            width:auto;
            height: 50px;  
            padding: 3px;
        }
       
    }





#navbarNavAltMarkup{
    a{
        color:$colornav;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 3px; 
        &:hover{
            border-bottom: 2px solid $colortitulos;
            }
     }     
}

